version: "3.4"

services:
  app:
    image: {{ monica.lookup.containers.monica.image }}
    ports:
      - {{ monica.host_port }}:80
    env_file:
      - {{ monica.lookup.paths.config_monica }}
{%- if monica.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ monica.lookup.paths.data or "monica-data" }}:/var/www/html/storage
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: {{ monica.lookup.containers.db.image }}
    env_file:
      - {{ monica.lookup.paths.config_db }}
{%- if monica.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ monica.lookup.paths.db or "monica-db" }}:/var/lib/mysql
    restart: unless-stopped

{%- if not monica.lookup.paths.data or not monica.lookup.paths.db  %}

volumes:
{%-   if not monica.lookup.paths.data %}
  monica-data:
    name: monica-data
{%-   endif %}
{%-   if not monica.lookup.paths.db %}
  monica-db:
    name: monica-db
{%-   endif %}
{%- endif %}
