{%- set data_is_network_mount = false -%}
{%- if monica.lookup.paths.data -%}
{%-   set data_is_network_mount = salt["cmd.run_stdout"](
        "df -P '{data}' | ".format(data=monica.lookup.paths.data) ~
          "awk 'BEGIN {e=1} $NF ~ /^\/.+/ { e=0 ; print $1 ; exit } END { exit e }'",
        python_shell=true
) -%}
{%- endif -%}
---
version: "3.4"

services:
  app:
    image: {{ monica.lookup.containers.monica.image }}
    ports:
      - {{ monica.host_port }}:80
    env_file:
      - {{ monica.lookup.paths.config_monica }}
{%- if monica.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ monica.lookup.paths.data or "monica-data" }}:/var/www/html/storage{%- if not data_is_network_mount %}:Z{%- endif %}
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: {{ monica.lookup.containers.db.image }}
    env_file:
      - {{ monica.lookup.paths.config_db }}
{%- if monica.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ monica.lookup.paths.db or "monica-db" }}:/var/lib/mysql:Z
    restart: unless-stopped

{%- if not monica.lookup.paths.data or not monica.lookup.paths.db  %}

volumes:
{%-   if not monica.lookup.paths.data %}
  monica-data:
    name: monica-data
{%-   endif %}
{%-   if not monica.lookup.paths.db %}
  monica-db:
    name: monica-db
{%-   endif %}
{%- endif %}
