# This file is managed by Salt.
# Manual changes might be overwritten.

{%- load_yaml as envvars %}
ALLOW_STATISTICS_THROUGH_PUBLIC_API_ACCESS: {{ monica.config.allow_statistics_through_public_api_access | int }}
APP_DEBUG: {{ monica.config.app.debug | int }}
APP_DISABLE_SIGNUP: {{ monica.config.app.disable_signup | int }}
APP_EMAIL_NEW_USERS_NOTIFICATION: {{ monica.config.app.email_new_users_notification }}
APP_ENV: {{ monica.config.app.env }}
APP_FORCE_URL: {{ monica.config.app.force_url | int }}
APP_KEY: {{ monica.config.app.key }}
APP_SIGNUP_DOUBLE_OPTIN: {{ monica.config.app.signup_double_optin | int }}
APP_TRUSTED_CLOUDFLARE: {{ monica.config.app.trusted_cloudflare | int }}
APP_TRUSTED_PROXIES: {{ monica.config.app.trusted_proxies | join(",") }}
APP_URL: {{ monica.config.app.url }}
AWS_BUCKET: {{ monica.config.aws.bucket }}
AWS_KEY: {{ monica.config.aws.key }}
AWS_REGION: {{ monica.config.aws.region }}
AWS_SECRET: {{ monica.config.aws.secret }}
AWS_SERVER: {{ monica.config.aws.server }}
CACHE_DRIVER: {{ monica.config.cache_driver }}
CHECK_VERSION: {{ monica.config.check_version | int }}
DAV_ENABLED: {{ monica.config.dav_enabled | int }}
DB_CONNECTION: {{ monica.config.db.connection }}
DB_DATABASE: {{ monica.config.db.database }}
DB_HOST: {{ monica.config.db.host }}
DB_PASSWORD: {{ monica.config.db.password }}
DB_PORT: {{ monica.config.db.port }}
DB_PREFIX: {{ monica.config.db.prefix }}
DB_TEST_DATABASE: {{ monica.config.db.test.database }}
DB_TEST_HOST: {{ monica.config.db.test.host }}
DB_TEST_PASSWORD: {{ monica.config.db.test.password }}
DB_TEST_USERNAME: {{ monica.config.db.test.username }}
DB_UNIX_SOCKET: {{ monica.config.db.unix_socket }}
DB_USE_UTF8MB4: {{ monica.config.db.use_utf8mb4 | int }}
DB_USERNAME: {{ monica.config.db.username }}
DEFAULT_FILESYSTEM: {{ monica.config.default_filesystem }}
DEFAULT_MAX_STORAGE_SIZE: {{ monica.config.default_max_storage_size }}
DEFAULT_MAX_UPLOAD_SIZE: {{ monica.config.default_max_upload_size }}
ENABLE_GEOLOCATION: {{ monica.config.enable_geolocation | int }}
ENABLE_WEATHER: {{ monica.config.enable_weather | int }}
HASH_LENGTH: {{ monica.config.hash.length }}
HASH_SALT: {{ monica.config.hash.salt }}
LOCATION_IQ_API_KEY: {{ monica.config.location_iq_api_key }}
LOG_CHANNEL: {{ monica.config.log_channel }}
MAIL_ENCRYPTION: {{ monica.config.mail.encryption }}
MAIL_FROM_ADDRESS: {{ monica.config.mail.from_address }}
MAIL_FROM_NAME: {{ monica.config.mail.from_name }}
MAIL_HOST: {{ monica.config.mail.host }}
MAIL_MAILER: {{ monica.config.mail.mailer }}
MAIL_PASSWORD: {{ monica.config.mail.password }}
MAIL_PORT: {{ monica.config.mail.port }}
MAIL_USERNAME: {{ monica.config.mail.username }}
MFA_ENABLED: {{ monica.config.mfa_enabled | int }}
PASSPORT_PASSWORD_GRANT_CLIENT_ID: {{ monica.config.passport_password_grant.client_id }}
PASSPORT_PASSWORD_GRANT_CLIENT_SECRET: {{ monica.config.passport_password_grant.client_secret }}
POLICY_COMPLIANT: {{ monica.config.policy_compliant | int }}
QUEUE_CONNECTION: {{ monica.config.queue_connection }}
RATE_LIMIT_PER_MINUTE_API: {{ monica.config.rate_limit.per_minute_api }}
RATE_LIMIT_PER_MINUTE_OAUTH: {{ monica.config.rate_limit.per_minute_oauth }}
REDIS_HOST: {{ monica.config.redis_host }}
S3_PATH_STYLE: {{ monica.config.s3_path_style }}
SENTRY_LARAVEL_DSN: {{ monica.config.sentry.laravel_dsn }}
SENTRY_SUPPORT: {{ monica.config.sentry.support | int }}
SESSION_DRIVER: {{ monica.config.session.driver }}
SESSION_LIFETIME: {{ monica.config.session.lifetime }}
WEATHERAPI_KEY: {{ monica.config.weatherapi_key }}

{%- endload %}

{% for var, val in envvars.items() %}
{%-   if val %}
{{ var }}={{ val }}
{%-   endif %}
{%- endfor %}


##################################################################

# generated env vars for container db
CONNECTION: {{ monica.config.db.connection }}
DATABASE: {{ monica.config.db.database }}
HOST: {{ monica.config.db.host }}
PASSWORD: {{ monica.config.db.password }}
PORT: {{ monica.config.db.port }}
PREFIX: {{ monica.config.db.prefix }}
TEST_DATABASE: {{ monica.config.db.test.database }}
TEST_HOST: {{ monica.config.db.test.host }}
TEST_PASSWORD: {{ monica.config.db.test.password }}
TEST_USERNAME: {{ monica.config.db.test.username }}
UNIX_SOCKET: {{ monica.config.db.unix_socket }}
USE_UTF8MB4: {{ monica.config.db.use_utf8mb4 | int }}
USERNAME: {{ monica.config.db.username }}
